<!DOCTYPE HTML>
<html>

<%- include('../partials/head') %>

<body>
    <main>
        <div>
            <header>
                <form action="/logout" method="post">
                    <button type="submit">LOG OUT</button>
                </form>
                <a class="refresh" href="/">Refresh</a>
            </header>


            <div class="car-grid">
                <section class="card section--tires">
                    <h2>Tires</h2>
                    <div class="tires--list">
                        <% tires.forEach((tire) =>{ %>
                            <div class="tire--block">
                                <h4><%- include('../partials/position-label', { position: tire.location.value }); %></h4>
                                <%- include('../partials/property', { label: 'Pressure', prop: tire.pressure }); %>
                                <%- include('../partials/property', { label: 'Temperature', prop: tire.temperature }); %>
                                <%- include('../partials/property', { label: 'RPM', prop: tire.RPM }); %>
                            </div>
                        <% }); %>
                    </div>
                </section>

                <section class="card section--diagnostics">
                    <h2>Diagnostics</h2>
                    <div>
                        <%- include('../partials/property', { label: 'Odometer', prop: diagnostics.odometer && diagnostics.odometer.data }); %>
                        <%- include('../partials/property', { label: 'Speed', prop: diagnostics.speed && diagnostics.speed.data }); %>
                        <%- include('../partials/property', { label: 'Mileage', prop: diagnostics.mileage && diagnostics.mileage.data }); %>
                        <%- include('../partials/property', { label: 'Oil temperature', prop: diagnostics.engineOilTemperature && diagnostics.engineOilTemperature.data }); %>
                        <%- include('../partials/property', { label: 'Engine RPM', prop: diagnostics.engineRPM && diagnostics.engineRPM.data }); %>
                        <%- include('../partials/property', { label: 'Fuel level', prop: diagnostics.fuelLevel && diagnostics.fuelLevel.data }); %>
                        <%- include('../partials/property', { label: 'Estimated range', prop: diagnostics.estimatedRange && diagnostics.estimatedRange.data }); %>
                        <%- include('../partials/property', { label: 'Washer fluid level', prop: diagnostics.washerFluidLevel && diagnostics.washerFluidLevel.data }); %>
                        <%- include('../partials/property', { label: 'Battery voltage', prop: diagnostics.batteryVoltage && diagnostics.batteryVoltage.data }); %>
                        <%- include('../partials/property', { label: 'AdBlue level', prop: diagnostics.adBlueLevel && diagnostics.adBlueLevel.data }); %>
                        <%- include('../partials/property', { label: 'Distance since reset', prop: diagnostics.distanceSinceReset && diagnostics.distanceSinceReset.data }); %>
                        <%- include('../partials/property', { label: 'Distance since start', prop: diagnostics.distanceSinceStart && diagnostics.distanceSinceStart.data }); %>
                        <%- include('../partials/property', { label: 'Fuel volume', prop: diagnostics.fuelVolume && diagnostics.fuelVolume.data }); %>
                        <%- include('../partials/property', { label: 'Anti lock braking', prop: diagnostics.antiLockBraking && diagnostics.antiLockBraking.data }); %>
                        <%- include('../partials/property', { label: 'Engine coolant temperature', prop: diagnostics.engineCoolantTemperature && diagnostics.engineCoolantTemperature.data }); %>
                        <%- include('../partials/property', { label: 'Engine total operating hours', prop: diagnostics.engineTotalOperatingHours && diagnostics.engineTotalOperatingHours.data }); %>
                        <%- include('../partials/property', { label: 'Engine total fuel consumption', prop: diagnostics.engineTotalFuelConsumption && diagnostics.engineTotalFuelConsumption.data }); %>
                        <%- include('../partials/property', { label: 'Brake fluid level', prop: diagnostics.brakeFluidLevel && diagnostics.brakeFluidLevel.data }); %>
                        <%- include('../partials/property', { label: 'Engine torque', prop: diagnostics.engineTorque && diagnostics.engineTorque.data }); %>
                        <%- include('../partials/property', { label: 'Engine load', prop: diagnostics.engineLoad && diagnostics.engineLoad.data }); %>
                        <%- include('../partials/property', { label: 'Wheel based speed', prop: diagnostics.wheelBasedSpeed && diagnostics.wheelBasedSpeed.data }); %>
                        <%- include('../partials/property', { label: 'Battery level', prop: diagnostics.batteryLevel && diagnostics.batteryLevel.data }); %>
                    </div>
                </section>

                <section class="card section--doors">
                    <header class="header">
                        <h2>Doors</h2>

                        <div class="header--actions">
                            <form action="/doors/unlock" method="post">
                                <button type="submit">Unlock</button>
                            </form>
                            <form action="/doors/lock" method="post">
                                <button type="submit">Lock</button>
                            </form>
                        </div>
                    </header>
                    <div class="doors--list">
                        <% doors.forEach((door) => { %>
                            <div class="door--block">
                                <h4><%- include('../partials/position-label', { position: door.location.value }); %></h4>
                                <%- include('../partials/property', { label: 'Position', prop: door.position }); %>
                                <%- include('../partials/property', { label: 'Lock', prop: door.lock }); %>
                            </div>
                        <% }); %>
                    </div>
                </section>
            </div>
        </div>
    </main>
</body>

</html>