<!DOCTYPE HTML>
<html>

<%- include('../partials/head') %>

<body>
    <main>
        <div>
            <header>
                <form action="/logout" method="post">
                    <button type="submit">LOG OUT</button>
                </form>
                <a class="refresh" href="/">Refresh</a>
            </header>


            <div class="car-grid">
                <section class="card section--position">
                    <h2>Position</h2>
                    <div><img src="https://maps.googleapis.com/maps/api/staticmap?zoom=13&size=560x450&markers=<%- include('../partials/value', { value: vehicleLocation.coordinates.value.latitude}); %>,<%- include('../partials/value', { value: vehicleLocation.coordinates.value.longitude}); %>&key=AIzaSyCx6sA8X97IIUluvY66bqPET4xqKf0nT7M">
                    </div>
                    <%- include('../partials/property', { label: 'Vehicle Heading', prop: vehicleLocation.heading, unit: 'deg'}); %>
                        <%- include('../partials/value', { label: 'Latitude', value: vehicleLocation.coordinates.value.latitude, unit: 'deg'}); %>
                        <%- include('../partials/value', { label: 'Longitude', value: vehicleLocation.coordinates.value.longitude, unit: 'deg'}); %>
                </section>
                <section class="card section--diagnostics">
                    <h2>Diagnostics</h2>
                    <div>
                        <%- include('../partials/property', { label: 'Odometer', prop: diagnostics.mileage, unit: 'km'}); %>
                        <%- include('../partials/property', { label: 'Speed', prop: diagnostics.wheelBasedSpeed, unit: 'km/h'}); %>
                        
                        <%- include('../partials/property', { label: 'Fuel Volume', prop: diagnostics.fuelVolume, unit: 'liters'}); %>
                        <%- include('../partials/property', { label: 'Estimated Range', prop: diagnostics.estimatedRange, unit: 'km'}); %>
                        <%- include('../partials/property', { label: 'Engine Coolant Temp', prop: diagnostics.engineCoolantTemperature, unit: 'C'}); %>
                        <%- include('../partials/property', { label: 'Ad Blue Level', prop: diagnostics.adBlueLevel, unit: 'liters'}); %>
                        <!-- Control messages and trouble codes -->
                    </div>
                </section>

                <section class="card section--control-messages">
                    <h2>Control Messages</h2>
                    <div class="">
                        <% 
                        diagnostics.checkControlMessages.forEach((controlMessage) =>{ %>
                            <div class="tire--block">
                                
                                <p>ID: <%- controlMessage.value.ID %></p>
                                <p>text: <%- controlMessage.value.text %></p>
                                <!-- <p>status: <%- controlMessage.value.status %></p> -->
                                <p>remainingMinutes: <%- controlMessage.value.remainingMinutes %></p>
                                <!-- <p>timestamp: <%- controlMessage.value.timestamp %></p> -->
                            </div>
                        <% }); %>
                    </div>
                </section>

                               
                <section class="card section--ignition" style="display:none;">
                    <h2>Ignition</h2>
                    <div>
                        <%- include('../partials/property', { label: 'Ignition', prop: ignition.status, unit: ''}); %>
                    </div>
                </section>
                



                <section class="card section--cbs">
                    <h2>Condition Based Services</h2>
                    <div class="">
                        <% 
                        maintenance.conditionBasedServices.forEach((conditionBasedService) =>{ %>
                            <div class="tire--block">
                                <p><b>ID: <%- conditionBasedService.value.id %></b></p>
                                
                                <p>Text: <%- conditionBasedService.value.text %></p>
                                <p>Description: <%- conditionBasedService.value.description %></p>
                                
                                <p>Due Date: <%- conditionBasedService.value.month %>/<%- conditionBasedService.value.year %> and status is <%- conditionBasedService.value.dueStatus %></p>

                                <p>&nbsp;</p>
                                

                            </div>
                        <% }); %>
                    </div>
                </section>


                
            </div>
        </div>
    </main>
</body>

</html>